.header {
  width: 100%;
  height: 110px;
  background-color: #2e425a;
  display: grid;

  padding: 10px;
  align-items: center;

  border-radius: 0 0 80px 80px;

  &__h1 {
    font-family: "Roboto", sans-serif;

    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;

    font-size: 1.8rem;
  }
}

.nav {
  width: 100%;
  height: 37px;
  display: grid;
  grid-template-columns: 60px auto 60px;
  padding-right: 10px;

  align-items: center;

  &__hamburger {
    width: 22px;
    height: 20px;
    position: relative;
    z-index: 2;

    &-btn {

      border: none;
      background-color: transparent;
      outline: none;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      transition: 0.2s;

      &--active {
        position: fixed;
        width: 22px;
        height: 30px;
        transform: translate(100px, -10px), ;
      }
    }

    &-line {
      width: 11px;
      height: 1px;
      background-color: white;
      display: block;
      transition: all 0.2s;

      &::before,
      &::after {
        content: "";
        position: absolute;

        height: 1px;
        background-color: white;
      }

      &::before {
        width: 22px;
        top: 50%;
        left: 0;
      }

      &::after {
        bottom: 0;
        right: 0;
        width: 11px;
      }
    }
  }

  &__user {
    width: 50px;
    height: 50px;
    background-color: #4c5a77;
    border-radius: 50px;
    text-align: center;
    line-height: 65px;
  }
}

.nav__hamburger--active {
  .nav__hamburger-line {
    transform: rotate(45deg);
  }

  .nav__hamburger-line::before {
    transform: rotate(-95deg);
  }

  .nav__hamburger-line::after {
    transform: translateX(12px);
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 190px;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.856);
  border-radius: 0px 60px 60px 0px;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__list {
    list-style: none;
  }

  &__item {
    margin: 20px 0;
    transition: all 0.6s ease-in-out;
    transform: translateX(-150px);
    opacity: 0;

    &--active {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  &__link {
    color: white;
    text-transform: uppercase;
  }

  &--active {
    transform: translateX(0);
    position: fixed;
  }
}

.main {
  background-color: #23293f;
}

.statist {
  width: 93%;
  max-width: 900px;

  height: 100px;
  border-radius: 15px;
  background-color: #e78230;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 50%;
    background-color: white;
    border-radius: 5px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-counter {
      font-size: 23px;
      margin-top: 5px;
    }

    &-rank {
      font-size: 14px;
      text-transform: capitalize;
    }

    &-icon {
      font-size: 16px;
      vertical-align: -4px;
    }
  }
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  justify-content: space-around;

  &__option {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 90px 170px;
    align-items: center;
    justify-content: center;
    background-color: #2e425a;
    width: 90%;
    min-width: 270px;
    max-width: 750px;
    height: 90px;
    border-radius: 15px;
    margin: 9px 0;
    text-align: center;
    line-height: 90px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 100;
    transition: 0.3s;
    transform: translateX(0px);

    @media(min-width:1024px) {
      &:hover {
        transform: translateX(10px);
        cursor: pointer;
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(6),
    &:nth-child(5) {
      grid-template-columns: 90px 100px;
    }

    &:nth-child(3) {
      grid-template-columns: 90px 150px;
    }

    &--active {
      background-color: #e78230;
    }
  }
}

.select {
  display: block;
  margin: 30px auto;
  width: 85%;
  min-width: 270px;
  max-width: 500px;
  height: 60px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: #cadae7;
  transition: 0.2s;
  outline: none;
  cursor: pointer;

  &--active {
    background-color: #e78230;
    color: white;
  }

  @media(min-width:1024px) {
    &:hover {
      letter-spacing: 2px;
      background-color: #e78230;
      color: white;
    }
  }
}