@mixin button-exit_line {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: white;
    border-radius: 15px;
}

.category {
    height: 60px;
    background-color: #2e425a;
    display: grid;
    grid-template-columns: 90px auto 1fr;
    justify-content: start;
    align-items: center;

    &__picture {
        display: block;
        height: 45px;
        padding-left: 20px;
    }


    &__content {
        text-transform: capitalize;
        font-size: 20px;
        color: white;
        letter-spacing: 0.5px;
        font-style: italic;


    }

    &__exit {
        display: block;
        width: 30px;
        height: 20px;
        background-color: transparent;
        position: relative;
        border: none;
        //margin: 0 auto;
        //transform: translateX(95px);
        outline: none;
        grid-column: 5;


        &::after,
        &::before {
            @include button-exit_line
        }

        &::after {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }
    }

}

.section {
    padding: 30px 0;

    &__title {
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        text-align: center;
        margin-top: 25px;
        letter-spacing: 1px;
        font-weight: 600;
    }

    &__level {
        width: 70%;
        height: 50px;
        background-color: #2e425a;
        margin: 50px auto;
        text-align: center;
        line-height: 50px;
        color: whitesmoke;
        text-transform: uppercase;
        border-radius: 10px;
        font-size: 17px;
        letter-spacing: 1px;
        transition: .3s;
        transform: translateX(0px);
        font-weight: bold;

        &--active {
            background-color: #e78230;
            transform: translateX(30px);
        }

    }
}