.section {
    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 60px;
        justify-content: start;
        gap: 0 50px;
        align-items: center;
        padding: 10px 5px;
        position: relative;


        &-length {
            color: white;
            font-size: 16px;
            letter-spacing: 1px;


        }

        &-time {
            color: white;
            font-size: 16px;
            letter-spacing: 1px;


        }

        &::after {
            content: "";
            position: absolute;
            bottom: 25%;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 2px;
            background-color: rgb(185, 177, 177);
            border-radius: 20px;
        }
    }

    &__question {
        font-family: 'Open Sans', sans-serif;

        &-text {
            font-size: 15px;
            text-align: center;
            color: white;
            padding: 10px 18px;
            letter-spacing: 1px;
        }
    }

}

.answers {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 5px 0;
    align-items: center;

    &__answer {
        font-family: 'Roboto', sans-serif;
        width: 90%;
        min-width: 270px;
        max-width: 600px;
        height: 50px;
        background-color: #CBDCE6;
        border-radius: 12px;
        margin: 6px 0;
        transition: .3s;
        transform: translateX(0px);
        font-weight: bold;
        font-size: 17px;
        display: grid;
        grid-template-columns: 45px 1fr;
        align-items: center;
        justify-content: start;





        @media(min-width:1024px) {
            &:hover {
                cursor: pointer;
                transform: translateX(10px);
            }
        }


        &-number {
            width: 100%;
            height: 80%;
            text-transform: uppercase;
            font-size: 25px;
            text-align: center;
            line-height: 40px;
            background-color: #e78230;
            border-radius: 85%;
            margin: 0 10px;
            color: white;


        }


    }

}

.answers__answer--active {
    background-color: #e78230;
    color: white;
    display: flex;
    position: relative;



    .answers__answer-number {
        background-color: #f8f8f8d4;
        color: black;

        order: 2;
        width: 45px;
        margin: 0 15px;
    }

    .answers__answer-text {
        order: 1;

    }

    .answers__answer-icon {
        color: rgba(0, 0, 0, 0.856)
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
    }

    &::after {
        left: -2%;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 18px solid #23293f;

    }

    &::before {
        right: -2%;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-right: 18px solid #23293f;

    }
}