* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: #23293f;
}

@import "./_Home.scss";
@import "./About";
